@{
    ViewData["Title"] = "About";
}

<div class="hero-section" style="background-color: #f7f7f7; padding: 100px 20px; text-align: center;">
    <h1 style="font-size: 3em; font-weight: bold;">About Us</h1>
    <p style="font-size: 1.5em;">Learn more about our mission and values.</p>
    <a href="/contact" class="btn">Contact Us</a>
</div>

<div class="MainCont">
    <div>
        <h1>
            Crafting great captions and names is one of programming's toughest challenges.
        </h1>
    </div>

    <figure>
        <img src="~/Images/dev.png" alt="Group Things" />
    </figure>
    </div>