@{
    ViewData["Title"] = "HomePage";
}

<div class="hero-section" style="background-color: #f7f7f7; padding: 100px 20px; text-align: center;">
    <h1 style="font-size: 3em; font-weight: bold;">Welcome to my very first ASP.NET Project </h1>
    <p style="font-size: 1.5em;">Learning new things always seem mysterious sometimes.</p>
    <a href="/services" class="btn">Get Started</a>
</div>

<div class="MainCont">
    <div>
        <h1>
            I'm just trying things out'
        </h1>
    </div>

    <figure>
        <img src="~/Images/steve.png" alt="Group Things" />
    </figure>
</div>