@{
    ViewData["Title"] = "Services";
}

@* <div class="hero-section" style="background-color: #f7f7f7; padding: 100px 20px; text-align: center;"> *@
@*     <h1 style="font-size: 3em; font-weight: bold;">Our Services</h1> *@
@*     <p style="font-size: 1.5em;">Discover the services we offer to help you succeed.</p> *@
@*     <a href="/services" class="btn">Explore Services</a> *@
@* </div> *@

<div class="ServicesCont">

        <div class="PeepCont">
            <div class="textBox">


            <h1>
            Manage projects from beginning to end
            </h1>
            <p style="font-size: 1.5em;">Discover the services we offer to help you succeed.</p>
            <a href="/services" class="btn">Explore Services</a>
        </div>

        <figure>
            <img src="~/Images/first.svg" style="width: 40vw;" alt="Group Things" />
        </figure>
        </div>
 
    </div>